* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}


body.dark {
    background: #1e1e1e;
}


body.light {
    background: #f2f2f2;
}

.theme-icon {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
}

body.light .theme-icon {
    background: #ddd;
    color: black;
}


.calculator {
    width: 300px;
    background: black;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.4);
    transition: 0.3s;
}

body.light .calculator {
    background: white;
}


#display {
    width: 100%;
    height: 60px;
    border: none;
    background: transparent;
    font-size: 32px;
    text-align: right;
    margin-bottom: 20px;
    color: white;
}

body.light #display {
    color: black;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
}

button {
    height: 60px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.1s;
}

button:active {
    transform: scale(0.95);
}


.top {
    background: #a5a5a5;
}

.num {
    background: #333;
    color: white;
}

.operator, .equal {
    background: #f59e0b;
    color: white;
}


body.light .num {
    background: #e0e0e0;
    color: black;
}

body.light .top {
    background: #cfcfcf;
}